

.color {
    color: green;
}

.form-container {
    min-width: 500px;
}

.card-content {
    min-height: 90px;
}

.dashboard-label__img {
    padding-bottom: 8px;
}

.dashboard-details-container {
    padding-bottom: 40px;
}

.course-dashboard-paper {
    padding: 40px 40px 0 40px;
    height: 100%;
}
.cancel-button {
    padding-right: 30px;
}