
.add-student-form {
    padding: 2rem;
}

.form-row {
    padding-bottom: 16px;
}

.form-row__last {
    padding-bottom: 32px;
}

.student-info-header {
    padding-bottom: 30px;
}

.dob-field {
    max-width: 25px;
}

.dob-field:last-of-type {
    max-width: 50px;
}