body {
  overflow-x: hidden;
}

.pageBg{
  background-color: rgb(245, 245, 245);
  min-height: 100vh;
}

.content-wrapper {
  padding-top: 3rem;
}

.color {
  color: green;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}

.paper {
  padding: 30px 40px 40px 40px;
}
@media only screen and (max-width: 600px) {
  .paper {
      padding: 30px 20px 40px 20px;
  }     
}